#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 5em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  
  
  
}

.read-the-docs {
  color: #888;
}

.flashcard{


  
 
}
.inner-card{
  padding: 5em;
  border-style:dashed;
  width: 30em;
  height:max-content;
  color: black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  margin: 1em;
}

button{
  margin: 1em;
}


/* Flash effect for correct answer */
.correct {
  animation: flash-green 0.5s;
}

/* Flash effect for incorrect answer */
.incorrect {
  animation: flash-red 0.5s;
}

/* Flash effect for "Show Answer" button */
.show-answer {
  background-color: yellow;
  transition: background-color 0.3s;
}

.show-answer:hover {
  background-color: transparent;
}

/* Flash effect for "Next" and "Back" buttons */
.next-button, .back-button {
  background-color: white;
  transition: background-color 0.3s;
}

.next-button:hover, .back-button:hover {
  background-color: transparent;
}

/* Define the flash animations */
@keyframes flash-green {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: green;
  }
}

@keyframes flash-red {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: red;
  }
}

@keyframes flash-white {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: red;
  }
}

.streak {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}